body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 50px;
  background: #f5f5f5;
}

section {
  padding: 40px;
}

img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}
